NAME_VERSION = TFLAPIV1
SERVER_PORT = 9000
API_KEY_JCD = XXXX
MOBILITEIT_STOPPOINTS = http://travelplanner.mobiliteit.lu/hafas/query.exe/dot?performLocating=2&tpl=stop2csv&look_maxdist=150000&look_x=6112550&look_y=49610700&stationProxy=yes
MOBILITEIT_DEPARTURE = http://travelplanner.mobiliteit.lu/restproxy/departureBoard?accessId=cdt&format=json&maxJourneys={{maxJourneys}}&id=A=1@L={{stopPoint}}
MOBILITEIT_REFRESH_CRON = "0 15 5 * * *"
#INFLUXDB = http://[USERNAME]:[PASSWORD]@127.0.0.1:8086/
URL_JOURNEY_PLANNER = "https://planner.tfl.lu/rrrr/plan?from-latlng={{from}}&to-latlng={{to}}"
URL_BIKEPOINT_VELOK = https://webservice.velok.lu/stationattache.aspx
URL_OCCUPANCY_CARPARK_VDL = http://service.vdl.lu/rss/circulation_guidageparking.php
URL_WEATHER_METEOLUX = http://meteolux.lu/Opendata/data_LUX_actual.csv
URL_WEATHER_AEV = "http://deee.aev.etat.lu/air_emwelt/data_actual_feedback.php?V_LANGUAGE=fr&P_OPERATION=DATA&V_MEANTYPE=1HOUR&V_POLLUTANT="

# BikePoint
# Crawl every 20 seconds, keep 10 minutes MAX
CRAWL_TTL_BIKEPOINT = 20000
CACHE_TTL_BIKEPOINT = 600

# Stoppoint
# Crawl every 24 hours, keep 3 days MAX
CRAWL_TTL_STOPPOINT = 86400000
CACHE_TTL_STOPPOINT = 259200000

# Stoppoint departures
# Crawl every miniute, keep 5 minutes max
CRAWL_TTL_STOPPOINT_DEPARTURE = 60000
CACHE_TTL_STOPPOINT_DEPARTURE = 300
CRAWL_STOPPOINT_DEPARTURE_AMOUNT = 10
CRAWL_MAX_CONCURRENT_STOPPOINT_DEPARTURE = 10

# Occupancy Carpark
# Crawl every minute, keep 10 minutes MAX
CRAWL_TTL_CARPARK = 60000
CACHE_TTL_CARPARK = 600

# Weather
# Crawl every minute, keep 10 minutes MAX
CRAWL_TTL_WEATHER = 60000
CACHE_TTL_WEATHER = 600

# Weather/Airquality
# Crawl every minute, keep 10 minutes MAX
CRAWL_TTL_WEATHER_AIRQUALITY = 60000
CACHE_TTL_WEATHER_AIRQUALITY = 600
